{% extends 'ProductBundle::admin_layout.html.twig' %}

{% block content -%}

<div id="magacin">
    <h1>Unos novog artikla</h1>

    <form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Unesi</button>
        </p>
    </form>

        <ul class="record_actions">
    <li class="admin_button">
        <a href="{{ path('product') }}">
            Povratak na listu
        </a>
    </li>
</ul>
</div>
{% endblock %}
