<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Skate shop STANCE{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/product/css/style.css') }}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{{ asset('bundles/product/js/tinymce/tinymce.min.js') }}"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "textarea.tinymce",
                menubar : false,
                statusbar : false,
                plugins: "link paste media",
                toolbar: "paste undo redo | bold italic | link media  | alignleft aligncenter alignright alignjustify | bullist numlist",
                custom_undo_redo_levels: 10,
                statusbar: true,
                theme_advanced_resizing : true,
                theme_advanced_resize_horizontal : false
            });
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
