{% extends "::base.html.twig" %}


{% block body %}
<input type="text" id="name" />
<input type="submit" id="dugme" value="click me" />

    <div id="display"></div>
<script>

$('#dugme').on('click', function()
{
    var name = $('#name').val();

    $.post('{{ path('ajax') }}', { name: name }, function(data) {
        $('#display').html(data);
});
});

</script>
{% endblock %}
