{% extends 'CommonBundle::layout.html.twig' %}

{% block content -%}

<p>Uspesno ste zavrsili kupovinu</p>
<p>Bicete kontaktirani u roku od jednog radnog dana</p>

{#{% for menu_item in menu %}#}
    {#{{ menu_item }}#}
{#{% endfor %}#}

{% for kategorija in kategorije %}
    {{ kategorija.categoryName }}
{% endfor %}

{% endblock %}
