{% extends '::base.html.twig' %}

{% block body %}

    <div id="all" class="container">
        <div class="row">
            <div id="content" class="col-md-12">
                <div id="content-main" class="row">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

