{% extends 'CommonBundle::admin_layout.html.twig' %}

{% block content -%}


<h3>Magacin</h3>
<p>Povratak na ovu stranicu</p>
<h3>Artikli</h3>
<p>Dodavanje novih artikala, izmena i brisanje postojecih artikala.</p>
<h3>Kategorije</h3>
<p>Dodavanje novih kategorija, izmena i brisanje postojecih kategorija. Dodavanjem nove kategorije pojavice se i nova stavka u glavnom meniju. Klikom na novu stavku u glavnom meniju izlistace se i svi proizvodi koji se nalaze u toj kategoriji. Prilikom brisanja kategorije morate prvo izbrisati sve proizvode iz izabrane kategorije.</p>
<h3>Brendovi</h3>
<p>Dodavanje novih brendova, izmena i brisanje postojecih brendova. Potrebno je prvo dodati novi brend, pa tek onda artikle novog brenda, kako bi brend bio dostupan u izboru brendova za proizvod koji unosite.</p>


{% endblock %}








