@font-face {
    font-family: 'archiveregular';
    src: url('../font/archive-webfont.eot');
    src: url('../font/archive-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/archive-webfont.woff') format('woff'),
    url('../font/archive-webfont.ttf') format('truetype'),
    url('../font/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h3,h4 {
    font-weight: 600;
}

h3 {
    font-size: 22px;
}

#carousel-generic {
    margin-top: 15px;
}

.glyphicon {
    color: white;
}

.btn-custom { background-color: hsl(0, 0%, 16%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828"); background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828)); background-image: -moz-linear-gradient(top, #5b5b5b, #282828); background-image: -ms-linear-gradient(top, #5b5b5b, #282828); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828)); background-image: -webkit-linear-gradient(top, #5b5b5b, #282828); background-image: -o-linear-gradient(top, #5b5b5b, #282828); background-image: linear-gradient(#5b5b5b, #282828); border-color: #282828 #282828 hsl(0, 0%, 11%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

.btn-yellow { background-color: hsl(52, 100%, 46%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe11e", endColorstr="#eacb00"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe11e), to(#eacb00)); background-image: -moz-linear-gradient(top, #ffe11e, #eacb00); background-image: -ms-linear-gradient(top, #ffe11e, #eacb00); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe11e), color-stop(100%, #eacb00)); background-image: -webkit-linear-gradient(top, #ffe11e, #eacb00); background-image: -o-linear-gradient(top, #ffe11e, #eacb00); background-image: linear-gradient(#ffe11e, #eacb00); border-color: #eacb00 #eacb00 hsl(52, 100%, 43.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16); -webkit-font-smoothing: antialiased; }
.btn-yellow {
    font-family: archiveregular;
}

img {
    max-width: 100%;
}

.image_small img {
    -moz-box-shadow: 3px 3px 15px #888;
    -webkit-box-shadow: 3px 3px 15px #888;
    box-shadow: 3px 3px 15px #888;
}

#all {
    background-color: #3c3c3c;
}

#header {
    background-image: url(../img/header-bg.jpg);
    height: 93px;
}

#header img {
    margin-top: 20px;
}

#scroll {
    background-image: url(../img/scroll-bg.jpg);
    height: 37px;
}

@media (min-width: 992px) {
    #content {
        min-height: 220px;
    }
}

#content,
#content-extra {
    background-color: #fff;
}

#footer {
    background-color: #ffdd00;
    border-style: solid;
    border-color: #3c3c3c;
    border-width: 5px 0;
}



#nav li {
    text-align: right;
}

#nav>ul a {
    color: #ffdd00;
    font-family: archiveregular;
    font-size: 1.5em;
}

/* PRODUCT */

.product {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-rabat {
    background-color: #8dbf1b;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 2px 5px;
    -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
    -moz-transform: rotate(45deg);  /* FF3.5+ */
    -ms-transform: rotate(45deg);  /* IE9 */
    -o-transform: rotate(45deg);  /* Opera 10.5 */
    transform: rotate(7.5deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand');
}

.price-old {
    text-decoration: line-through;
    color: #777;
}

.product-price {
    font-size: 1.2em;
}

.product-title {
    font-weight: 900;
    margin-top: 0.7em;
}

.product-info {
    text-align: center;
}

.product-info a {
    color: #333;
}

/* CART */


#cart-product > table {
    width: 100%;
}

#cart-product .glyphicon {
    cursor: pointer;
}

.glyphicon-plus-sign {
    color: #8dbf1b;
}

.glyphicon-minus-sign {
    color: #ffa500;
}

.glyphicon-remove-sign {
    color: #c40000;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e8e8e8;
}

.image-cart {
    height: 100px;
    -moz-box-shadow: 3px 3px 15px #888;
    -webkit-box-shadow: 3px 3px 15px #888;
    box-shadow: 3px 3px 15px #888;
}

/* ADMIN */

#magacin {
    color: #ffdd00;
}

#magacin .table-striped > tbody > tr:nth-child(odd) > td, #magacin .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #888;
}

#magacin label {
    width: 200px;
}

.footer-menu {
    min-height: 10em;
}

.footer-menu a {
    color: #3c3c3c;
    font-family: archiveregular;
}